/**
 *
 * MODULE ONE STYLES
 *
 */

#OI-MODULE-FOUR {

	padding-top: 5rem;
	padding-bottom: 5rem;
	background-color: darken( $oi-primary, 10% );
	// border: 1rem dotted red;
	.content-block {
		// @include clearfix();

		.mod-title {
			color: $gainsboro;
		}
		.mod-subtitle {
			color: $smoke;
			margin-bottom: 2rem;
		}
		.text-only {
			// color: $snow;
			// padding: 5rem;
			// border: 1rem solid red;
			// margin-right: 5rem;
		}
		figure {
			padding-bottom: 2rem;
			// border: 1rem solid red;
		}
	}	


}